*:focus {
    outline: none;
}

h1{
	margin: 0;
}
.satur{
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	border: 3px solid black;
	padding: 10px;
	text-align: center;
	color: white;
	background: black
}

.yay{
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	border: 3px solid black;
	padding: 10px 10px 10px 0;
	text-align: center;
	color: #5DBF5E;
	background: black
}
.header{
	height: 120px;
	background: #fff;
	padding-top: 40px;
	background: #fff;
	box-shadow: 1px 1px 10px #ccc;
}

.header-input{
	width: 100%;
	height: 45px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.header-input2{
	width: 75%;
	height: 45px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.header-btn{
	height: 45px;
	width: 100px;
	background: #5DBF5E;
	border: none;
	margin-left: 7px;
	border: 1px solid transparent;
	border-radius: 10px;
}