#activity-input{
	float: left;
	clear: right;
	margin-left: 5px;
	margin-right: 5px;
}

#location-input {
	float: left;
	clear: right;
	width: 200px;
	margin-left: 5px;
	margin-right: 5px;
}

.form-group p{
	float: left;
	

}

label {
	float: left;
}

*:focus {
    outline: none;
}

h1{
	margin: 0;
}
.satur{
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	border: 3px solid black;
	padding: 10px;
	text-align: center;
	color: green;
}

.yay{
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	border: 3px solid black;
	padding: 10px 10px 10px 0;
	text-align: center;
	color: #5DBF5E;
}

.header{
	height: 120px;
	background: #fff;
	padding-top: 40px;
	background: #fff;
	box-shadow: 1px 1px 10px #ccc;
}

.header-input{
	width: 100%;
	height: 45px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.header-input2{
	width: 75%;
	height: 45px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.header-btn{
	height: 45px;
	width: 70px;
	background: #5DBF5E;
	border: none;
	margin-left: 7px;
	border: 1px solid transparent;
	border-radius: 10px;
}

.panel-light {
	
	box-shadow: 2px 2px 5px #ccc;
}
.panel-heading{
	background-color: rgba(29, 30, 25, 0.5);
	box-shadow: 2px 2px 5px #ccc;
}

.panel-heading h3{
	color:black;
}

.fixed-table {
	min-height: 10px;
	max-height: 300px;
	overflow-y:scroll;
}

.empty-box{
	color: rgba(151, 152, 163, 0.5);
	text-align: center;
}


#main-page {
    display: none;
}
#username-page {
    display: default;
    float: left;
        margin-top: 100px;
}











