body{
	height: 100%;
}

#activity-input{
	float: left;
	clear: right;
	margin-left: 5px;
	margin-right: 5px;


}

#location-input {
	float: left;
	clear: right;

	margin-left: 5px;
	margin-right: 5px;

}

.form-group p{
	float: left;


}

label {
	float: left;
}

*:focus {
    outline: none;
}

h1{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}


.Saturyay{


}

.satur{
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	padding: 10px;
	text-align: center;
	color: green;
	letter-spacing: 7px;
	font-size: 40px;
}

.yay{
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	padding: 10px 10px 10px 0;
	text-align: center;
	color: #5DBF5E;
	font-size: 40px;
}

.header{
	height: 120px;
	background: #fff;
	padding-top: 40px;
	background: #fff;
	box-shadow: 1px 1px 10px #ccc;
}

.header-input{
	width: 100%;
	height: 45px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.header-input2{
	width: 75%;
	height: 45px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.header-btn{
	height: 45px;
	width: 70px;
	background: #5DBF5E;
	border: none;
	margin-left: 7px;
	border: 1px solid transparent;
	border-radius: 10px;
}

.panel-light {
	box-shadow: 2px 2px 5px #ccc;
}

.panel-heading{
	background-color: rgba(29, 30, 25, 0.5);
	box-shadow: 2px 2px 5px #ccc;
	text-align: center;
}

.panel-heading h3{
	color:white;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;

}

.fixed-table {
	min-height: 10px;
	max-height: 350px;
	overflow-y:scroll;
}

.empty-box{
	color: rgba(151, 152, 163, 0.5);
	text-align: center;
}


#main-page {
    display: none;
}
#username-page {
    display: default;
    float: left;
        margin-top: 100px;
}


#carouselExampleSlidesOnly {
	background-color: black;
	width: 200px;
	height: 200px;
}

.comment-data-table {
	height:15px;
	overflow-x: wrap;
}

.table-striped{
	height: 30px;
}


.wImg{
	width:20px;
	height: 20px;
	float:left;
	clear:right;
	margin: 5px;
}

.wName{
	width: 200px;
	height:30px;
	overflow-x: wrap;
	float: left;
	margin: 5px;
	font-family: sans-serif;


}

.wWebsite{
	height: 30px;
	width: 80px;
	float: left;
	clear: right;
	margin: 5px;

}


.wTime {
	width: 200px;
	clear: right;
	float: left;
	margin: 5px;
	}

.wAdd{
	width: 50px;
	float: left;
	clear: right;
	margin: 5px;

}

.wUber{
	width: 50px;
	float: left;
	clear: right;
	margin: 5px;

}


.resultDiv{
	width:530px;
	height:100px;
	margin: 5px;
}


.uName{
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;

}

#username-input{
	width: 300px;

}

.Saturyay2{
	text-align: center;
	font-size: 50px;
}

.yesBtn{
	height: 25px;
	width: 45px;
	text-align: center;
	vertical-align: center;
	color: white;
	float: left;
	clear: right;
}

.noBtn{
	height: 25px;
	width: 45px;
	text-align: middle;
	vertical-align: middle;
	color: white;
	float: left;
	clear: right;
}


.commentRow{

}


.cUser{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0px;
	font-weight: bolder;
}

.cTime{
	font-size: 10px;
	overflow: hidden;
}

nav img{
	float: left;
	clear: right;
}

a{
	color: black;
}


.navbar {


}




